@use "../../../../assets/scss/variables/variables" as var;

.back-to-top-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #B40D0D19;
  background-color: transparent;
}