$clr-white: #FFFFFF;
$clr-primary: #F55757;
$clr-primary-light: #FBB7B7;
$clr-primary-lighter: #FEE7E7;
$clr-neutral-5: #A6A6A6;
$clr-neutral-7: #737373;
$clr-neutral-8: #595959;
$clr-neutral-8: #404040;

$font: Lato, sans-serif;