@use "../../../../../assets/scss/variables/variables" as var;

.footerLinkItem {
  margin-bottom: .7rem;

  .footerLink {
    color: var.$clr-neutral-5;
    display: inline-block;
    font-size: 17px;
    transition: all .2s ease;

    &:hover {
      color: var.$clr-primary;
      transform: translateX(10px);
    }
  }
}