@use "../../../../assets/scss/variables/variables.scss" as var;

.advantage {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &-img {
    display: flex;
    width: 60px;
    height: 60px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-title {
    color: var.$clr-neutral-7;
  }
}