@use 'assets/scss/variables/variables' as var;

.services {
  background-image: url("images/bg-services.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(var.$clr-white, .85);
    z-index: 0;
  }
}

.hero {

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-content {

    h1 {
      margin-bottom: 1.5rem;
      color: var.$clr-neutral-8;
    }

    p {
      margin-bottom: 1rem;
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &-image {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    min-height: 690px;

    &-container {
      flex-direction: row;
      align-items: center;
      min-height: 690px;
    }

    &-content {
      h1 {
        font-size: 52px;
        max-width: 700px;
      }

      p {
        max-width: 620px;
      }
    }

    &-image {
      position: absolute;
      right: 0;
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

}